.blog{
    background: #bcbcbc;
    background-image: linear-gradient(to top, #eb402c 0%, #d90647 100%);
    margin: 200px 0 0;


}

.container-box{
display: flex;
flex-direction: column;
margin: 0 10px;
&__image{
    position: relative;
}

&-img{
    position: relative;
    top: 0;
    left: 50%;
    height: 735px;
    transform: translate(-50%, -82px);
    z-index: 1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    @media (max-width: 900px) {
        display: none;
        
    }
    @media (max-width: 1200px) {
        position: absolute;
        top: 30%;
        left: 145%;
    }

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(60px, 83px);
        height: 520px;
        width: 294px;
        background: #111;
        z-index: 1;
        opacity: 0.6;
    }
    &::before{
        content: url('../assets/img/play-circle.png');
        position: absolute;
        z-index: 2;
        cursor: pointer;
        left: 42%;
        top: 43%;
    }
}

&__icon{
    @media (max-width:1200px) {
        flex-direction: column;
        align-items: center;
        order: -1;
        padding: 10px 0 30px ;
    }
}
    &__wrapper{
        display: flex;
        flex-direction: row;
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        align-items: flex-start;
        padding: 0 0 70px 0;
        @media (max-width:1200px) {
            flex-direction: column;
            align-items: center;
            padding: 0 0 40px 0;
        }
    }
    &__text{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 40px 0 0;
        @media (max-width:1200px) {
            padding: 0;
        }
        &--reverse{
            align-items: flex-start;
            padding: 0 0 0 40px;
            @media (max-width:1200px) {
                padding: 0;
            }
        }
        &--header{
            line-height: 33.6px;
            letter-spacing: 1.44px;
            font-size: 1.5rem;
            color: $main;
            margin: 5px 0;
            @media (max-width:1200px) {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &--paragraph{
            color: $main;
            letter-spacing: 0.96px;
            line-height: 28px;
            font-size: 1rem;
            opacity: 0.6;
            text-align: end;
            @media (max-width:1200px) {
                text-align: center;
            }
            &--reverse{
                text-align: start;
                @media (max-width:1200px) {
                    text-align: center;
                }
            }
        }
    }
}


.group-container{
    max-width: 1200px;
    height: 520px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 120px 0 0;
    position: relative;
    @media (max-width:1200px) {
        flex-direction: column;
        padding: 50px 40px;
        height: auto;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        margin: 0;
    }
    @media (max-width:900px) {
        flex-direction: column;
        padding: 50px 40px;
        height: auto;
        width: 100%;
        align-items: center;
    }
}