.download-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    &__logo{
        width: auto;
        max-height: 210px;
        transition: .4s ease all;
        @media (max-width: 900px) {
            max-height: 150px;
        }
        &:hover{
            filter: drop-shadow(0 10px 20px rgb(217, 6, 71));
        }
    }

    &__heading{
        font-size:  3.75rem;
        padding: 60px 40px 40px;
        margin: 0;
        @media (max-width: 900px) {
            font-size: 2rem;
        }
    }
    &__paragraph{
        margin-bottom: 60px;
        padding: 0 40px;
        line-height: 32px;
        color: $grey;
    }
    &__appstore{
        padding-bottom: 150px;
        cursor: pointer;
        @media (max-width: 900px) {
            padding-bottom: 50px;
        }
    }
}