.header{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 15px 40px;
    background: rgba(1,1,1,.0);
    &--fixed{
        position: fixed;
        top:0;
        left: 0;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 10;
        background: #d90647;
    }

    @media (max-width:900px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    &__logo{
        font-size: 3.125rem;
        margin: 0;
        font-weight: 700;
        margin: 0;
        top: 0;
        left: 0;
        z-index: 11;
        position: relative;
        color: $main;
        @media (max-width: 900px) {
            font-size: 1.5rem;
        }
    }
}    

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    background: url("../assets/img/header.svg") center center no-repeat;
    background-size: cover;
    height: 100%;
    padding: 180px 20px 0 ;

    @media (max-width: 900px) {
        padding: 40px 20px 0;
    }

    
    &__img{
        /* Style for "iPhone 7 S" */
        height: 750px;
        width: auto;
        @media (max-width: 900px) {
            display: none;
        }
    }

    &__text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @media (max-width: 900px) {
            align-items: center;
            text-align: center;
        }
        &--header{
            font-size: 4.5rem;
            font-weight: 700;
            letter-spacing: 2.92px;
            margin: 110px 0 0;
            padding: 0;
            width: 100%;
            max-width: 420px;
            color: $main;
            @media (max-width: 900px) {
                margin: 80px 0 40px 0;
                font-size: 3rem;
            }
        }
        &--paragraph{
            margin: 50px 0 0 0;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 28px;
            color: $main;
            @media (max-width: 900px) {
                margin: 0;
                font-size: 1rem;
            }
        }
        &-button{
            margin: 100px 0 0;
            padding: 0;
            /* Style for "Rounded Re" */
            max-width: 300px;
            height: 50px;
            border-radius: 25px;
            background-color: $main;
            border: none;
            transition: .4s ease box-shadow;
            
            @media (max-width: 900px) {
                margin: 50px 20px 200px;
            }
            &:hover{
                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
            }
            &--link{
                color: #363636;
                background-image: linear-gradient(to top, #eb402c 0%, #d90647 100%);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                text-shadow: 0 10px 30px rgba(223, 27, 61, 0.3);
                font-size: 1.125rem;
                font-weight: 700;
                text-decoration: line-through;
                padding: 20px 50px;
                transition: .4s ease all;
                position: relative;
                @media (max-width: 900px) {
                    padding: 10px 30px;
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    height: 2px;
                    width: 0;
                    background: $red;
                    z-index: 100;
                    transition: .4s ease all;
                }
                &:hover::before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    height: 2px;
                    width: 100%;
                    background: $red;
                    z-index: 100;
                }
            }
        }
    }
}
    
.highlight{
    font-weight: 700;
}

.slideIn{
    animation: slideIn .4s linear 1;
}

.slideOut{
    animation: slideOut .4s linear 1;
}

