.header{
    position: fixed;
    top:0;
    left: 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding: 40px;

    @media (max-width:900px) {
        justify-content: space-between;
    }

    &__logo{
        font-size: 3.125rem;
        margin: 0;
        font-weight: 700;
        margin: 0;
        top: 0;
        left: 0;
        z-index: 11;
        position: relative;
    }
}    

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    background: url("../assets/img/header.svg") center center no-repeat;
    background-size: cover;
    height: 100%;
    padding: 200px 20px 0 ;

    @media (max-width: 900px) {
        padding: 40px 20px 0;
    }

    &__img{
        /* Style for "iPhone 7 S" */
        height: 750px;
        width: auto;
        @media (max-width: 900px) {
            display: none;
        }
    }

    &__text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @media (max-width: 900px) {
            align-items: center;
            text-align: center;
        }
        &--header{
            font-size: 4.5rem;
            font-weight: 700;
            letter-spacing: 2.92px;
            margin: 110px 0 0;
            padding: 0;
            width: 100%;
            max-width: 420px;
        }
        &--paragraph{
            margin: 50px 0 0 0;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 28px;
        }
        &-button{
            margin: 100px 0 0;
            padding: 0;
            /* Style for "Rounded Re" */
            max-width: 300px;
            height: 50px;
            box-shadow: 0 10px 40px rgba(54, 54, 54, 0.15);
            border-radius: 25px;
            background-color: $main;
            border: none;
            @media (max-width: 900px) {
                margin: 100px 30px 200px;
            }
            &--link{
                color: #363636;
                background-image: linear-gradient(to top, #eb402c 0%, #d90647 100%);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                text-shadow: 0 10px 30px rgba(223, 27, 61, 0.3);
                font-size: 1.125rem;
                font-weight: 700;
                text-decoration: none;
                padding: 20px 50px;
            }
        }
    }
}
    
.highlight{
    font-weight: 700;
}

.slideIn{
    animation: slideIn .4s linear 1;
}

.slideOut{
    animation: slideOut .4s linear 1;
}

