.navigation{
    @media (max-width: 900px ){
        display: none;
    }
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 40px 40px 0 0 ;
        margin: 0;
        @media (max-width:800px) {
            display: none;        
                }
    }
    &__item{
        list-style-type: none;
    }
    &__link{
        cursor: pointer;
        text-decoration: none;
        font-size: 1.125rem;
        text-transform: uppercase;
        line-height: 28px;
        color: $main;
        margin: 0 0 0 60px;
        opacity: .8;
        transition: .4s all;
        &:hover{
            opacity: 1;
            text-decoration: line-through;
        }
    }
    &__button{
        display: none;
        @media (max-width: 900px) {
            display: block;
            cursor: pointer;
            margin: 40px 40px 0 0;
            border: none;
            background-color: transparent;
            border-radius: 10px;
        }
    }

}

.hamburger__container{
    display: flex;
    align-items: center;
    position: relative;
    width: 30px;
    height: 25px;
  }

  .hamburger__bars{
    position: absolute;
    width: 30px;
    height: 2px;
     background: $main;
    transition: transform 220ms ease-in-out;
  }

.hamburger__bars::before,
.hamburger__bars::after{
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background: $main;
  content: '';
  top: 0;
}

.hamburger__bars::after{
   top: 10px;
}

.hamburger__bars::before{
    top: -10px;
 }
