.navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    @media (max-width: 900px) {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;

        &--active{
          display: flex;
        }
  
        @media (max-width: 900px) {
                display: none;
                height: 100vh;
                flex-direction: column;
                width: 100%;
                background: #DA0946;
                justify-content: center;
                font-size: 2rem;
                padding: 0;
                }
                &--active{
                    display: flex;
                }
    }
    &__item{
        list-style-type: none;
        @media (max-width: 900px) {
            padding: 30px 0;
            &:last-child{
              margin: 0 0 100px 0;
            }
            }
    }
    &__link{
        cursor: pointer;
        text-decoration: none;
        font-size: 1.125rem;
        text-transform: uppercase;
        line-height: 28px;
        color: $main;
        margin: 0 0 0 60px;
        opacity: .8;
        transition: .4s all;
        @media (max-width: 900px) {
            font-size: 3rem;
            padding: 20px 0;
            margin: 0;
            }
        &:hover{
            opacity: 1;
            text-decoration: line-through;
        }
    }
    &__button{
        display: none;
        @media (max-width: 900px) {
            display: block;
            cursor: pointer;
            border: none;
            margin: 0;
            background-color: transparent;
            border-radius: 10px;
            z-index: 11;
            padding: 0 15px;
            height: 40px;
        }
    }

}

.hamburger{
  &__container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 30px;
    height: 25px;
    height: 100%;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  &__bars{
    position: absolute;
    width: 30px;
    height: 2px;
    background: $main;
    transition: transform 220ms 120ms ease-in-out;

    &::before,
    &::after{
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        background: $main;
        content: '';
        top: 0;
    }

    &::before{
        top: 10px;
        transition: top 100ms 250ms ease-in, 
        transform 220ms ease-in-out;
    }

    &::after{
        top: -10px;
        transition: bottom 100ms 250ms ease-in, 
        transform 220ms ease-in-out;
    }
    &:focus {
      outline: none;
    }
}
}

.hamburger--active {
  z-index: 101;
  background-color: transparent;
  .hamburger__bars {
    transform: rotate(225deg);
    &:before {
      top: 0;
      transform: rotate(-90deg);
    }
    &:after {
      top: 0;
      transform: rotate(90deg);
    }
  }
}

[class="navigation__list--active"] ul{
  display: flex;
}
