.simple-messaging{
    margin: 100px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    &__img{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 530px;
        margin: 0 auto;
        @media (max-width: 1200px) {
            display: none;
        }
        &--messages{
            height: 534px;
            width: auto;
        }
        &--conversation{
            height: 534px;
            width: auto;;
            z-index: 2;
            position: absolute;
            top: 4.5rem;
            left: 40%;
        }
    }
    &__article{
        position: relative;
        display: block;
        width: 50%;
        max-width: 550px;
        margin: 0 auto;
        @media (max-width: 1200px) {
           width: 100%;
           padding: 0 40px;
        }
        &--heading{
            font-size: 3.75rem;
            color: $black;
            font-weight: 700;
            @media (max-width: 1200px) {
                font-size: 2.5rem;
             }
        }
        &--paragraph{
            font-size: 1.125rem;
            color:  #808080;
        }
    }
}

.red-dot{
    color: $red;
}